html {
  background-color: black;
  font: 12px "Lucida Console", Monaco, monospace;
}

body {
  width: 90%;
  margin: 50px auto;
  color: #007f00;
}

#loadingField {
  width: 0%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00ff00;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

input {
  width: 90%;
  color: #00ff00;
  border: none;
  background-color: black;
}

input:focus {
  outline: 0;
  outline-offset: 0;
}

form::before {
  content: ">";
}

.message-text {
  color: #00ff00;
}

#key {
  color: #00ff00;
}
